
__pycache__/create_description.cpython-312.pyc
__pycache__/google_apis.cpython-312.pyc
__pycache__/upload_video.cpython-312.pyc
client-secret.json
error.txt
log.txt
token files/token_youtube_v3.json
.env
